* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #ececec;
    font-family:  'Acme', Arial, Helvetica, sans-serif;
}


nav {
    height:  80px;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

li {
    
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%; 
}